/* Error: expected "{".
 *   ,
 * 9 |     position: absolute;
 *   |                       ^
 *   '
 *   styles/_menu.scss 9:23  @use
 *   styles/styles.scss 6:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 9 \2502      position: absolute;\a   \2502                        ^\a   \2575 \a   styles/_menu.scss 9:23  @use\a   styles/styles.scss 6:1  root stylesheet';
}
