@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
$ff-poppins: 'Poppins', sans-serif;
$clr-primary-400:#6070FF;
$clr-primary-300: #7F8CFF;
$clr-neutral-800: #172B4D;
$clr-neutral-600: #344563;

*, ::before, ::after{
	box-sizing: border-box;
	font-family: $ff-poppins;
}

body,
h1,
h2,
h3,
p{
	margin: 0;
	padding: 0;
}

.navbar{
	padding: 1rem 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__logo{
		&__text{
			color: $clr-primary-400;
			font-weight: 700;
			font-size: 18px;
			line-height: 20px;
		}
	}
	&__menu{
		display: none;
	}
	&__hamb{
		i{
			color: $clr-primary-400;
			font-weight: 700;
			font-size: 18px;
		}
	}
}

.head{
	padding: 7rem 1.5rem;
	&__title{
		color: $clr-neutral-800;
		font-size: 40px;
		font-weight: 700;
		line-height: 52px;
		width: 10ch;
	}
	&__dsc{
		margin: 1rem 0;
		color: $clr-neutral-600;
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
	}
	&__link{
		color: #7F8CFF;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		text-decoration: none;
	}
}

